*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.game-board{
    width: 90%;
    height: 800px;
    background-color: #00a2e8;
    border: 3px solid #111;
    border-bottom: 15px solid rgb(17, 156, 40);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.clouds{
    position: absolute;
    top: 0%;
    height: 350px;
    animation: cloud_anim 10s infinite linear;
}

@keyframes cloud_anim{
    from{
        right: -900px;
    }
    to{
        right: 100%;
    }
}

.pipe{
    position: absolute;
    bottom: 0%;
    width: 130px;
    animation: pipe_anim 2.5s infinite linear;
}

@keyframes pipe_anim{
    from{
        right: -170px;
    }
    to{
        right: 100%;
    }
}

.plant{
    position: absolute;
    bottom: 16.5%;
    width: 80px;
    margin-right: 1.5%;
    animation: plant_anim 2.5s infinite linear;
}

@keyframes plant_anim{
    from{
        right: -170px;
    }
    to{
        right: 100%;
    }
}

.mario{
    position: absolute;
    bottom: -1%;
    width: 180px;
}

.jump{
    animation: mario-jump 600ms ease-out;
}

@keyframes mario-jump{
    0%{
        bottom: 0px;
    }
    40%{
        bottom: 350px;
    }
    50%{
        bottom: 350px;
    }
    60%{
        bottom: 350px;
    }
    100%{
        bottom: 0px;
    }
}